body {
  margin: 0;
  padding: 40px;
  background-color: #eee;
}

p, a {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.outer {
  width: 600px;
  height: 600px;
  background-color: red;
  margin: 0 auto;
  font-size: 0;
}

.greensq{
  width: 400px;
  height: 400px;
  background-color: green;
  position: relative;
  left: 100px;
  top:100px;
}

.bluesq{
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  bottom:200px;
  left: 200px;
}
